apiVersion: apps/v1
kind: Deployment
metadata:
  name: mern-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: mern-backend
        image: priyannshu/mern-backend:v1
        ports:
        - containerPort: 3000
        env:
        - name: ATLAS_URI
          value: "mongodb+srv://rt:rt12345@mernapp.gh9kxwf.mongodb.net/mernapp?retryWrites=true&w=majority"
        - name: JWT_SECRET
          value: "abc123"
---
apiVersion: v1
kind: Service
metadata:
  name: mern-backend-service
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: NodePort
